fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator
python-dotenv
python-multipart
passlib
orjson
structlog
httpx
redis
celery
qdrant-client
openai
sqlalchemy
alembic
asyncmy
asyncpg
psycopg[binary]
PyMySQL
tenacity
pypdf
youtube-transcript-api
